# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.

# Needed to disable due this missing improvement https://github.com/pinterest/ktlint/issues/527
[*.kt]
disabled_rules=import-ordering
